{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<p>{{ message }}</p>
    <div class="container">
        <h1 class="row">Supprimer votre critique</h1>
        <form method="post" class="row">
            {{ form|crispy }}
            {% csrf_token %}
            <p>Etes-vous sûr de vouloir supprimer cette critique : {{ review.titre }} ?</p>
            <input type="submit" value="Supprimer" class="btn btn-primary fs-4 fw-bold">
            <div class="row text-center my-3">
                <a class="fw-bold fs-5" href="{% url 'my_posts' %}">Annuler</a>
            </div>
        </form>
    
    </div>
   
{% endblock content %}