{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<p>{{ message }}</p>
    <div class="container">
        <h1 class="row">Modifier votre ticket</h1>
        <form method="post" enctype="multipart/form-data" class="row">
            {{ form|crispy }}
            {% csrf_token %}
            
            <button type="submit" class="btn btn-primary fs-5">Modifier</button>
        </form>
        <p class="fst-italic">Les champs marqués d'un astérisque (*) sont obligatoires</p>
        <div class="row text-center my-3">
            <a class=" fw-bold fs-5" href="{% url 'my_posts' %}">Annuler</a>
        </div>
    </div>
   
{% endblock content %}